<%= simple_form_for(@script, wrapper: :vertical_form) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, placeholder: "Title", required: false %>
    <%= f.input :description, placeholder: "Description" %>
    <%= f.input :language, label: "Language: ", required: false do %>
      <%= f.select :language, [ "CoffeeScript", "JavaScript" ], selected: @script.language_value %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <% unless @script.new_record? %>
      <%= link_to "Delete", script_path(@script), method: :delete, data: {confirm: "Are you sure?"}, class: 'text-warning', style: 'margin-left: 15px;' %>
    <% end %>
  </div>
<% end %>
