<div class="row script-row">
  <div class="col-md-10">
    <h6>
      <%= link_to script.title, script, style: "color: white;" %>
      <small><%= link_to "Edit", edit_script_path(script), style: "display: inline-block; margin-left: 5px; margin-top: 11px;" %></small>
    </h6>
  </div>
  <div class="col-md-2 text-right">
    <% if user_signed_in? && current_user.id == script.user_id %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>
      <% if script.description.present? %>
      <%= script.description.strip %><%= '.' unless script.description.strip.ends_with?('.') %>
      <% end %>
      Updated <%= time_ago_in_words script.updated_at %> ago.
    </p>
  </div>
</div>
