<% content_for(:title, @script.title) %>

<div class="row" style="">
  <div class="col-md-12">
    <h3>
      <%= @script.title %>
      <% if @script.user_id == current_user.id %>
      <% if @script.aws_id.present? %>
      <div class="pull-right">
        <%= link_to "Open Editor", editor_script_path(@script), class: "btn btn-default" %>
        <%= link_to "Play", '#', id: "play-btn", class: "btn btn-primary" %>
        <%= link_to "Stop", '#', id: "stop-btn", class: "btn btn-primary" %>
      </div>
      <% else %>
      <%= link_to "Start Editing", editor_script_path(@script), class: "btn btn-primary" %>
      <% end %>

      <span class="label label-info" style="font-size: 30%; position: relative; top: -5px; left: 10px;"><%= @script.language.titleize %></span>
    </h3>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="well">
      <% if @script.description.present? %>
        <%= @script.description %> - <%= link_to "Edit details", edit_script_path(@script) %>
      <% else %>
        <%= link_to "Add description", edit_script_path(@script) %>
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="editor" class="unloaded demo" data-content-url="<%= script_content_url @script %>" data-language="<%= @script.language %>" data-read-only="true"></div>
  </div>
</div>

<div class="row" style="margin: 20px 0;">
  <div class="col-md-12">
    <p>
      <% if @script.aws_id.present? %>
      <div class="list-group">
        <div class="list-group-item">
          <h5 class="list-group-item-heading">Import This Code</h5>
          <p class="list-group-item-text">
            <samp style="font-size: 87%;">importScripts "<%= @script.compiled_content_url %>" # <%= @script.title %></samp>
          </p>
        </div>
      </div>
      <% end %>
    </p>
      Updated <%= time_ago_in_words @script.updated_at %> ago.
  </div>
</div>
