<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @script.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @script.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @script.user_id %>
</p>

<p>
  <strong>Content URL:</strong>
  <%= @script.content.url %>
</p>

<p>
  <strong>Content File size:</strong>
  <%= @script.content_file_size %>
</p>

<p>
  <strong>Content File name:</strong>
  <%= @script.content_file_name %>
</p>

<%= link_to 'Edit', edit_script_path(@script) %> |
<%= link_to 'Back', scripts_path %>
