<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @script.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @script.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @script.user_id %>
</p>

<p>
  <strong>Content URL:</strong>
  <%= link_to "Content", @script.content_url %>
</p>

<%= link_to 'Edit', edit_script_path(@script) %> |
<%= link_to 'Back', scripts_path %>
