
<div class="row">
  <div class="col-md-12">
    <div class="pull-right" style="padding-top: 25px;">
      <span class="label label-primary"><%= @script.language.titleize %></span>
    </div>
    <h3>
      <%= @script.title %>
    </h3>
    Updated <%= time_ago_in_words @script.updated_at %> ago
    <p class="well"> <%= @script.description %> </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <pre><%= @script.content %></pre>
  </div>
</div>

<% if @script.user_id == current_user.id %>
  <%= link_to "Edit", edit_script_path(@script), class: "btn btn-default" %>
<% else %>
  <%= link_to "Clone", "javascript:alert('todo');", class: "btn btn-default" %>
<% end %>

