<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @script.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @script.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @script.user_id %>
</p>

<p>
  <strong>Import URL:</strong>
  <pre><%= @script.content_url %></pre>
</p>

<p>
  <strong>Content:</strong>
  <pre><%= @script.content %></pre>
</p>

<%= link_to 'Edit', edit_script_path(@script) %> |
<%= link_to 'Back', scripts_path %>
