<div class="container">
  <div class="jumbotron">

    <h2> Placeholder placeholder </h2>

    <p>
      Placeholder placeholder placeholder placeholder placeholder
    </p>

    <div id="editor" class="demo blur" style="height: 100px;" data-content-url="https://s3-us-west-1.amazonaws.com/synthdrop/scripts/dc8606ea6d98885e517e898cb60ca304">Loading</div>

    <%= link_to "Run", "javascript:alert('todo');", class: "btn btn-primary"%>
    <%= link_to "Save", "javascript:alert('todo');", class: "btn btn-default"%>

    <%= link_to "Go fullscreen", "javascript:alert('todo');", class: "pull-right" %>

    <% if false %>
      <h2> Become a Javascript Musician </h2>

      <p>
        A simple, powerful platform to make and share music
      </p>

      <h2>The easiest, fastest way to create music.</h2>

      <h2> Music Hackers </h2>
      <h2> A Place for JavaScript Musicians </h2>

      <ul>
        <li> Sophisticated javascript tools for creating and sharing electronic music </li>
        <li> Share your music with others </li>
        <li> Show off </li>
        <li> Easily share with folks </li>
        <li> Community </li>
        <li> Explore </li>
        <li> Completely hackable </li>
        <li> Fun </li>
      </ul>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>
        Newest
      </h3>
      <hr/>
      <%= render Script.order("updated_at DESC").limit(50) %>
    </div>

    <div class="col-md-6">
      <% if user_signed_in? %>
      <h3>
        Your Files
        <small style="font-size: 40%;"><%= link_to "New", new_script_path, class: "pull-right", style: 'position: inline-block; margin-top: 20px;' %></small>
      </h3>
      <hr/>
      <%= render current_user.scripts %>
      <hr/>
      <%= link_to "View All", scripts_path %>
    </div>
  </div>
  <% end %>
</div>
