<div class="container">
  <div class="alert alert-success">
    <span class="glyphicon glyphicon-bullhorn"></span>
    <span>
      Hi! Feel free to sign up and dig in but know the site isn't totally ready for launch. (Use Safari for now.)
    </span>
  </div>

  <div class="jumbotron">

    <h2>Make some music</h2>

    <p>
      Edit the code below and explore how easy it is to write your own audio generator.
    </p>

    <div id="editor" class="demo blur" style="height: 100px;" data-content-url="https://s3-us-west-1.amazonaws.com/synthdrop/scripts/dc8606ea6d98885e517e898cb60ca304" data-language="coffeescript" data-keyboard="<%= current_user.try(:keyboard) %>">Loading</div>

    <%= link_to "Play", '#', id: 'play-btn', class: 'btn btn-primary', title: 'cmd + enter' %>
    <%= link_to "Stop", '#', id: 'stop-btn', class: 'btn btn-primary', title: 'cmd + .' %>

    <div class="pull-right" style="padding-top: 20px;">
      <span class="label label-default">Coffeescript</span>
    </div>

    <% if false %>

      <h2>The easiest, fastest way to create music.</h2>

      <h2> Music Hackers </h2>
      <h2> A Place for JavaScript Musicians </h2>

      <ul>
        <li> Sophisticated javascript tools for creating and sharing electronic music </li>
        <li> Share your music with others </li>
        <li> Show off </li>
        <li> Easily share with folks </li>
        <li> Community </li>
        <li> Explore </li>
        <li> Completely hackable </li>
        <li> Fun </li>
      </ul>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>
        Newest
      </h4>
      <hr/>
      <%= render Script.order("updated_at DESC").limit(50) %>
    </div>

    <div class="col-md-6">
      <% if user_signed_in? %>
      <h4>
        Your Tracks
        <small style="font-size: 60%;"><%= link_to "New", new_script_path, class: "pull-right", style: 'position: inline-block; margin-top: 10px;' %></small>
      </h4>
      <hr/>
      <%= render current_user.scripts %>
      <hr/>
      <%= link_to "View All", scripts_path %>
    </div>
  </div>
  <% end %>
</div>
